BOT_TOKEN=your_telegram_bot_token_from_botfather
ADMIN_USER_ID=your_telegram_user_id
DEVICE_ID=your_gate_device_id
OUTPUT_NUM=1
PHONE_NUMBER=your_phone_number
SESSION_TOKEN=your_session_token_hex
TOKEN_TYPE=1
